<div class="col-md-2" style="margin: 0;padding: 0;">
    <div class="sidebar" id="mySidebar">
        <ul>
            <li>
                {% comment %} <h1>{{request.resolver_match.url_name}}</h1> {% endcomment %}
                {% if user.role == 'owner' or user.role == 'admin' %}
<a href="{% url 'addVenue' %}" class="nav-link {% if request.resolver_match.url_name == 'addVenue' %}active{% endif %}">
    <i class="fas fa-map-marker-alt"></i> Add Venue
</a>
{% endif %}
            </li>
            <li>
                {% if user.role == 'owner' or user.role == 'admin' %}
                <a href="{% url 'venue-list' %}" class="nav-link {% if request.resolver_match.url_name == 'venue-list' %}active{% endif %}">

                    <i class="fas fa-list-ul"></i> Venues
                </a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'visit_request_view' %}" class="nav-link {% if request.resolver_match.url_name == 'visit_request_view' %}active{% endif %}">
                    <i class="fas fa-calendar-alt"></i>
                    {% if user.role == 'owner' or user.role == 'admin' %}
                        Request For Visit
                    {% else %}
                        Requested Visit(s)
                    {% endif %}
                </a>
            </li>
            
            <li>
                <a href="{% url 'table-booking' %}" class="nav-link {% if request.resolver_match.url_name == 'table-booking' %}active{% endif %}">
                    <i class="fas fa-utensils"></i> Booking 
                </a>
            </li>
        </ul>
        
    </div>
</div>